DE_resistant_sensitive/data/
DE_resistant_sensitive/objects/

nongit

copy_number_analysis_organoids/copy_number_analysis_organoids_cache/
copy_number_analysis_organoids/copy_number_analysis_organoids_files/
copy_number_analysis_organoids/data

RNASeq_DE_resistant_sensitive/analysis_scripts/files/Homo_sapiens.GRCh37.87.gff3
RNASeq_DE_resistant_sensitive/objects/deaObjectFile

text/paper/

RNASeq_and_CN/20191218_ViasM_BJ_orgaBrs/RnaSeqPipAuc
RNASeq_and_CN/20191218_ViasM_BJ_orgaBrs/RnaSeqPip
RNASeq_and_CN/20191218_ViasM_BJ_orgaBrs/Kallisto
RNASeq_and_CN/20191218_ViasM_BJ_orgaBrs/GexVsCnGwDeseq2
RNASeq_and_CN/20191218_ViasM_BJ_orgaBrs/GexVsCnGwDeseq2_Lena
RNASeq_and_CN/20191218_ViasM_BJ_orgaBrs/Input
RNASeq_and_CN/20191218_ViasM_BJ_orgaBrs/Data
RNASeq_and_CN/20191218_ViasM_BJ_orgaBrs/output

.DS_Store
.pushall 
pushall

